<div style="margin: 0.25em 0 1em 0;">
  {% if include.doi %}
    <a href="{{ include.doi }}" target="_blank"
       style="display: inline-block; padding: 1.5px 8px; background-color: #007acc; color: white; border-radius: 4px; text-decoration: none; margin-right: 10px; margin-left: 0px">
      DOI
    </a>
  {% endif %}
  {% if include.pdf %}
    <a href="{{ include.pdf }}" target="_blank"
       style="display: inline-block; padding: 1.5px 8px; background-color: #444; color: white; border-radius: 4px; text-decoration: none;">
      PDF
    </a>
  {% endif %}
</div>