<div style="margin-bottom: 0;">
<li style="margin-bottom: 0;">

  {% if include.title and include.doi %}
    <a href="{{ include.doi }}" target="_blank" style="color: #003366; font-weight: bold; text-decoration: none;">
      {{ include.title }}
    </a><br>
  {% elsif include.title %}
    <span style="color: #003366; font-weight: bold;">{{ include.title }}</span><br>
  {% endif %}

  {% if include.authors %}
    <span>{{ include.authors }}</span><br>
  {% endif %}

  {% if include.venue %}
    <span><em>{{ include.venue }}</em></span><br>
  {% endif %}

  {% include publication-buttons.html doi=include.doi pdf=include.pdf %}
</li>

</div>

